.navbar {
    display: flex;
    color:rgb(37, 65, 100);
    flex-direction: row;
    gap: 10px;
    background-color:rgb(42, 145, 156);
    justify-content: center;
    margin: 10px 450px;
    border: 5px rgb(10, 25, 109) solid;
    font-size:large;
}
body {
    background:rgb(72, 207, 201);
    background-repeat: no-repeat;
    min-height: 100vh;
}
h2 {
    display:inline-block;
    padding: 5px;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    transition: transform 0.2s ease;
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    color: white;
}
a.hover {
    transform: scale(1.05)
}
.au{
    margin: 10px 350px;
    color:rgb(255, 255, 255);
    padding: 3px;
    border-radius: 5px;
    font-size:20px;
}
.subhead {
    display: flex;
    color:rgb(37, 65, 100);
    background-color:rgb(42, 145, 156);
    justify-content: center;
    margin: 10px 600px;
    border: 5px rgb(10, 25, 109) solid;
    font-size:large;
}
h1 {
    display: flex;
    align-items:center;
    justify-content: center;
    color:aliceblue;
}
img {
    border: rgb(0, 0, 110) 3px solid;
}
footer {
    display:flex;
    justify-content: center;
    font-size:x-small;
}